<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js tutorial</title>
    <link type="text/css" rel="stylesheet" href="style1.css">
</head>

<body>
    <div id="main">
        <h2>{{title}}</h2>
        <p>
            {{welcome}}
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="javascript/text"  src="main1.js"></script>

</body>

</html>